.message-list {
    grid-area: chat-message-list;
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    overflow-y: scroll;
    border: 2px solid rgb(138, 138, 138);
    background: white;
}

.message-row {
    display: grid;
    /* grid-template-columns: 70%; */
    margin-bottom: 10px;
    margin-top: 10px;
}

.message-content {
    display: flex;
}

.you-message {
    justify-content: end;
}

.you-message .message-content {
    justify-items: end;
    grid-column-gap: 15px;
}

.other-message {
    justify-items: start;
    max-width: 1000px;
}

.other-message .message-content {
    grid-template-columns: 1fr;
    grid-column-gap: 15px;
}

.message-row img {
    height: 50px;
    border-radius: 100%;
    /* grid-row: span 2; */
}

.message-time {
    font-size: 1.3rem;
    color: #777;
}

.message-text {
    padding: 9px 14px;
    font-size: 1.6rem;
    margin-bottom: 5px;
    max-width: 700px;
}

.you-message .message-text {
    background: #0048aa;
    color: #eee;
    border: 1px solid #0048aa;
    border-radius: 14px 14px 0 14px;
}

.other-message .message-text {
    background: #eee;
    color: #111;
    border: 1px solid #ddd;
    border-radius: 14px 14px 14px 0;
}
