.header {
    display: flex;
    /* grid: 36px / 1fr 36px; */
    align-content: center;
    align-items: center;
    grid-area: chat-title;
    background: #eee;
    color: #0048aa;
    font-weight: bold;
    font-size: 2rem;
    border-radius: 10px 10px 0 0;
    box-shadow: 0 1px 3px -1px rgba(0, 0, 0, 0.75);
    padding: 0 20px;
}

.header > img {
    cursor: pointer;
}

.header > span {
    margin: 20px;
}


.header > .header-last-message-date {
    margin-left: auto;
}
 
