.message-input {
    background: #eee;
}

.message-input > img {
    cursor: pointer;
}

.message-input {
    display: flex;
    align-content: center;
    align-items: center;
    grid-gap: 15px;
    grid-area: 3;
    border-radius: 0 0 10px 0;
    border-top: 1px solid rgba(0, 0, 0, 0.25);
    padding-left: 42px;
    padding-right: 22px;
}

.message-input input {
    outline: none;
    padding: 15px;
    border: 2px solid #ddd;
    color: #330;
    border-radius: 6px;
    font-size: 1.4rem;
    width: 1200px;
}

#submit-button {
    height: 39px;
    width: 150px;
    font-size: 16px;

    /* border: 1px solid var(--main-button-border-color); */
    background-color: var(--main-button-background-color);
    /* text-transform: uppercase; */
    padding: 0 15px;
    margin-left: 10px;
    border-radius: 5px 5px 5px 5px;
}

.message-input-button {
    user-select: none;
}
