.chat {
    display: grid;
    grid-row-gap: 15px;
    grid:
        'chat-title' 70px
        'chat-message-list' 1fr
        'new-message-container' 70px;

    min-width: 1500px;
    max-width: 1000px;
    max-height: 800px;
    width: 100%;
    height: 95vh;
    background: linear-gradient(to right, #57c1eb 0%, #246fa8 100%);
    border-radius: 10px;
}
